<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img.png/fotoDePerfil.webp" class="img-fluid
        " id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <p id="nombre">Giovanna Ailen Gomez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Estudiante en Programación full stack. Soy buscadora de soluciones optimizadas. Apasionada por estar en una fase de implementación de una carrera nueva de un desarrollador web profesional. Soy una persona ambiciosa, aventurera, empática y motivada.  </p>
        </span>
    </div>

</div>