<div class="row">
     <h1>Experiencia laboral</h1>
     <div class="col-lg-1"></div>
     <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
               Aliquid explicabo alias laboriosam ducimus quibusdam, deleniti 
               repellendus non ipsam culpa illum architecto iusto consectetur, voluptate
               illo veritatis velit, quae nobis? Facere.
            </p>
        </ul>

     </div>
</div>
